data/07_Composition/genus_df.RData
*.gz
.Rproj.user
data/01_DADA2/raw_ASV_counts.tsv
data/01_DADA2/ASV_table_withSeqNames.tsv
data/04_PhylogeneticTree/MAFFT_aligned_ASVs.fasta
data/04_PhylogeneticTree/FastTree.log
data/03_PreProcessing/raw_physeq.RData
